*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: lightblue;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 620px;
  background: lightcyan;
  border-radius: 5px;
  margin-bottom: 50px;
  & li {
    list-style: none;
    margin-bottom: 15px;
    
    & input {
      margin-left: 15px;
      width: 30%;
    }
    
    & select {
      max-width: 350px;
      width: 100%;
      margin-left: 15px;
    }
  }

  .h1 {
    text-align: center;
    max-width: 80%;
    margin: 35px auto;
  }

  .buttons_container {
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0;
  }

  &.quiz_screen {
    display: flex;
    align-items: center;

    .info_block {
      max-width: 80%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
    }

    .question_block {
      & p {
        margin: 16px 35px;
        font-size: 20px;
        font-weight: 600;
      }

      .question_text_block {
        width: 600px;
        text-align: center;
      }

      .answer_btns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin-top: 35px;
        margin-bottom: 35px;
        & button {
          width: 240px;
          min-height: 50px;
          font-size: 18px;
        }
      }
    }

    .button {
      margin-bottom: 25px;
    }
  }

  &.results_screen {
    .correct_answers {
      margin: 0 auto;
      font-size: 18px;
    }
    .chosenOptions_block {
      margin: 0 auto;
      & ul {
        padding-left: 0;
        & li {
          margin-bottom: 5px;
        }
      }
    }
  }

  .h4 {
    text-align: center;
    margin-bottom: 10px;
  }

  .btns_wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 35px;
    margin-top: 15px;
    & button {
      font-size: 18px;
    }
  }

  &.results_screen {
    .button {
      width: 200px;
      margin: 0 auto;
    }
    .h2 {
      text-align: center;
    }
  
    .statistics_block {
      height: 500px;
      overflow-y: scroll;
    }
  }
}


.button {
  min-width: 150px;
  min-height: 35px;
  border-radius: 5px;
  border: 1px solid green;
  font-size: 16px;

  &:hover {
    background: lightseagreen;
  }
  &:active {
    transform: translate(0.5px, 0.5px);
    background: lightskyblue;
  }
}

.layout {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  min-height: 200px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  z-index: 3;
  background-color: burlywood;
  top: 250px;

  & button {
    width: 150px;
    margin: 15px;
  }
}

.error_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .error_image {
    width: 350px;
    height: 350px;
    display: block;
    margin-bottom: 25px;
  }
}